<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d199d14afc.js" crossorigin="anonymous"></script>
  <title>AMY</title>
</head>
<body>
  <nav>
    <a href="/" class="titleName">Ask Me Yourself</a>
    <a href="/users" >Profile</a>
    <a href="/questions">Questions</a>
    <% if (user) { %>
        <a href="/logout">Log Out</a>
    <% } else { %>
        <a href="/auth/google">Login with Google</a>
    <% } %>
  </nav>
  <main>