<!DOCTYPE html>
<html>
  <head>
    <title>AMY(Ask Me Yourself)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ask Me Yourself!</h1>
    <form action="/questions/new" method="post"><input type="text" name="question" style="height:30px;width:500px;font-size:20pt;">
    </form>
     
    <h2>List of Questions</h2>
    <ul class="qustions">  
      <% questions.forEach(function(question){ %>
        <li>
          <a href="/questions/<%= question._id %>"><%= question.question %></a>
          <% if(user && user.role == "admin"){ %>
          <form action="/questions/<%= question._id %>" method="post">
            <input type="submit" value="X">
          </form>
          <% } %>
        </li>
        
      <% }) %>
    </ul>
  </body>
</html>
